h1 {
    background-color: rgb(62, 160, 185);
}

* {

    color: rgba(236, 255, 21, 0.982) ;

}

body {
    background-color: rgb(0, 39, 101);
}

#ek {
    color: magenta;
}

li {
    list-style: none;
}

li>b {
    color: rgb(9, 232, 239);
}

img[alt~="bimasraf logo"] {
    background: violet;
}

div::after {
    content: "Tüm";
    background: turquoise;
    color: blueviolet;
}

.ana li: {
    background-color: rgb(0, 0, 0);
}

ul li:hover {
    background-color: rgb(194, 7, 246);
}
